body{
    font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.yellowgreen-color{
color: yellowgreen;
}
section{
    display: flex;
    padding: 0 5%;
}

.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(salmon,rgb(94, 94, 163));
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}
h2{
    text-align: center;
}
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Bree+Serif&family=Poppins&display=swap" rel="stylesheet">
}

body{
    background-color: aliceblue;
}

.wrapper{
    margin-top: 10%;
}

.wrapper h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;

}
 
.mission{
    display: flex;
    flex-wrap: wrap;
}
.mission_member{
   width: 30%;
   margin-right: 30px;  
}


